<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conString" value="Provider=OraOLEDB.Oracle.1;User ID=yygl;Password=zyy6806;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.199.65)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SID = orcl)))" />
    <add key="ComponentsDirectory" value="Form"/>
    <add key="UpdateURL" value="http://192.168.12.44/Update.xml"/>
  </appSettings>
</configuration>